<launch>
       <arg name="target" default="raspberrypi" />

	<node name="udp_receiver" pkg="nimbro_topic_transport" type="udp_receiver" output="screen">
		<param name="port" value="17001" />
	</node>
	
	<node name="udp_server" pkg="nimbro_service_transport" type="udp_server" output="screen">
		<param name="port" value="6000" />
	</node>
	
	<node name="udp_client" pkg="nimbro_service_transport" type="udp_client" output="screen">
		<param name="server" value="$(arg target)" />
		<param name="port" value="6000" />
		<param name="timeout" value="60" />
		<rosparam command="load" file="$(find go1_navigation)/params/nimbro/services_robot.yaml" />
	</node>

</launch>
