<?xml version="1.0" ?>
<launch>

    <!--  Set arguments -->
    <arg name="nimbro" default="false" />
    <arg name="target" default="10.8.0.2" />
    
    <!-- Launch navigation with nimbro network -->
    <include file="$(find wolf_navigation_utils)/launch/wolf_pilot_navigation.launch" if="$(arg nimbro)">
    	    <remap from="/joint_states" to="/go1/joint_states"/>	
    	    <arg name="rviz_gui"   value="false" />
            <arg name="target"     value="$(arg target)" />
            <arg name="robot_name" value="go1" />
    </include>
    
    <!-- Convert joint states to TF transforms for rviz, etc -->
    <!--<node name="go1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="log">
        <remap from="/joint_states" to="/go1/joint_states"/>
    </node>-->

    <!-- Rviz -->
    <node name="pilot_rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find go1_navigation)/rviz/go1_nav.rviz"/>

</launch>
