<?xml version="1.0" ?>
<launch>

    <!--  Set arguments -->
    <arg name="robot_name"     default="" />
    <arg name="world_name"     default="empty" />
    <arg name="mapping"        default="true"  />
    <arg name="type"           default="indoor" />
    <arg name="slope_filter"   default="true"  />
    <arg name="launch_lidar"   default="true"  />
    <arg name="global_frame"   default="map"   />
    <arg name="odom_frame"     default="odom"  />
    <arg name="base_frame"     default="base_footprint" />
    <arg name="scan_topic"     default="scan" />
    <arg name="lidar_topic"    default="rslidar_points"/>
    <arg name="imu_topic"      default="imu"/>
    <arg name="gps_topic"      default="gps/fix" />
    <arg name="depth_topic"    default="" />
    <arg name="robot_params"   default="$(find go1_navigation)/params" />
    <arg name="task_params"    default="$(find go1_navigation)/params/tasks" />
    <arg name="map_file"       default="$(find go1_navigation)/maps/$(arg world_name).yaml" />

    <!-- Move base args -->
    <arg name="local_planner"  default="teb_local_planner/TebLocalPlannerROS" />
    <arg name="global_planner" default="navfn/NavfnROS"/>
    <arg name="cmd_vel_topic"  default="cmd_vel" />

    <!-- Nimbro args -->
    <arg name="nimbro"         default="false" />
    <arg name="target"         default="10.8.0.1" />
    <arg name="camera_topic"   default="" />
    <arg name="nimbro_params"  default="$(find go1_navigation)/params/nimbro" />

    <!-- Export the tf_prefix -->
    <group if="$(eval robot_name != '/')">
        <param name="tf_prefix" value="$(arg robot_name)"/>
    </group>
    <group if="$(eval robot_name == '/')">
        <param name="tf_prefix" value=""/>
    </group>

    <!-- Send the robot urdf to parameter server -->
    <include file="$(find wolf_description_utils)/launch/upload.launch">
        <arg name="sensors"      value="true" />
        <arg name="robot_name"   value="$(arg robot_name)" />
        <arg name="robot_model"  value="go1" />
    </include>

    <!-- Activate rslidar driver (old version) -->
    <!-- <include file="$(find rslidar_pointcloud)/launch/rs_lidar_16.launch" if="$(arg launch_lidar)"/> -->

    <!-- Activate rslidar driver (new version) -->
    <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen" if="$(arg launch_lidar)">
      <param name="config_path" value="$(find go1_navigation)/params/rslidar/config.yaml"/>
      <remap from="/rslidar_points" to="/$(arg robot_name)/rslidar_points"/>
    </node>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <group if="$(eval robot_name != '')">
	    <node name="rslidar_remapper" pkg="tf_remapper_cpp" type="tf_remap">
		<rosparam param="mappings">[{old: rslidar, new: $(arg robot_name)/rslidar}]</rosparam>
	    </node>
	    <node name="go1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" ns="$(arg robot_name)">
		<remap from="/joint_states"        to="/$(arg robot_name)/joint_states"/>
	    </node>
    </group>
    
    <group if="$(eval robot_name == '')">
	    <node name="go1_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
		<remap from="/joint_states"        to="/$(arg robot_name)/joint_states"/>
	    </node>
    </group>

    <!-- Launch navigation with nimbro network -->
    <group if="$(arg nimbro)">
	<include file="$(find wolf_navigation_utils)/launch/wolf_robot_navigation.launch">
                <arg name="robot_name"        value="$(arg robot_name)"/>
                <arg name="robot_model"       value="go1"/>
		<arg name="robot_params"      value="$(arg robot_params)"/>
                <arg name="task_params"       value="$(arg task_params)"/>
		<arg name="world_name"        value="$(arg world_name)" />
    		<arg name="global_frame"      value="$(arg global_frame)"/>
    		<arg name="odom_frame"        value="$(arg odom_frame)"/>
    		<arg name="base_frame"        value="$(arg base_frame)"/>
    		<arg name="scan_topic"        value="$(arg scan_topic)"/>
    		<arg name="lidar_topic"       value="$(arg lidar_topic)"/>
                <arg name="imu_topic"         value="$(arg imu_topic)"/>
                <arg name="gps_topic"         value="$(arg gps_topic)" />
                <arg name="depth_topic"       value="$(arg depth_topic)" />
                <arg name="camera_topic"      value="$(arg camera_topic)" />
                <arg name="map_file"          value="$(arg map_file)" />
    		<arg name="mapping"           value="$(arg mapping)" />
    		<arg name="type"              value="$(arg type)" />
                <arg name="slope_filter"      value="$(arg slope_filter)" />
                <arg name="task_gui"          value="true" />
                <arg name="rviz_gui"          value="false" />
		<arg name="cmd_vel_topic"     value="$(arg cmd_vel_topic)" />
		<arg name="local_planner"     value="$(arg local_planner)" />
		<arg name="global_planner"    value="$(arg global_planner)" />
		<arg name="launch_controller" value="false" />
                <arg name="launch_odometry"   value="false" /> <!-- Let's use Go1 odometry -->
		<arg name="target"            value="$(arg target)" />
                <arg name="nimbro_params"     value="$(arg nimbro_params)" />
	</include>
    </group>
    <!-- Launch navigation -->
    <group unless="$(arg nimbro)">
	    <include file="$(find wolf_navigation_utils)/launch/wolf_navigation.launch">
                <arg name="robot_name"        value="$(arg robot_name)"/>
                <arg name="robot_model"       value="go1"/>
		<arg name="robot_params"      value="$(arg robot_params)"/>
                <arg name="task_params"       value="$(arg task_params)"/>
		<arg name="world_name"        value="$(arg world_name)" />
    		<arg name="global_frame"      value="$(arg global_frame)"/>
    		<arg name="odom_frame"        value="$(arg odom_frame)"/>
    		<arg name="base_frame"        value="$(arg base_frame)"/>
    		<arg name="scan_topic"        value="$(arg scan_topic)"/>
    		<arg name="lidar_topic"       value="$(arg lidar_topic)"/>
                <arg name="imu_topic"         value="$(arg imu_topic)"/>
                <arg name="gps_topic"         value="$(arg gps_topic)" />
                <arg name="depth_topic"       value="$(arg depth_topic)" />
                <arg name="map_file"          value="$(arg map_file)" />
    		<arg name="mapping"           value="$(arg mapping)" />
    		<arg name="type"              value="$(arg type)" />
                <arg name="slope_filter"      value="$(arg slope_filter)" />
                <arg name="task_gui"          value="true" />
                <arg name="rviz_gui"          value="false" />
		<arg name="cmd_vel_topic"     value="$(arg cmd_vel_topic)" />
		<arg name="local_planner"     value="$(arg local_planner)" />
		<arg name="global_planner"    value="$(arg global_planner)" />
		<arg name="launch_controller" value="false" />
                <arg name="launch_odometry"   value="false" /> <!-- Let's use Go1 odometry -->
	    </include>
     </group>

</launch>
